<h1>Login</h1>

<% if flash.has?(:message) %>
  <% flash[:message].each do |key, value| %>
    <%= [key, value].join(" ") %>
    <br>
  <% end %>  
<% end %>

<form action="/login" method="post">
  <input type="text" name="username" value="username">
  <br>
  <input type="password" name="password" value="password">
  <br>
  <input type="submit" name="submit" value="submit">

</form>
